<% if contexts %>
<div class="method_details_list">
<div class="tags">
  <h3>Specifications:</h3>
  <ul>
  <% contexts.each do |context| %>
   <% context.specifications.each do |spec| %>
   <li><%= link_to_full_specification spec %></li>
   <% end %>
 <% end %>
 </ul>
</div>
</div>
<% end %>