<div>
  <div class="specification">
    <span class="predicate">it</span>
    <%= specification.value %>
  </div>
  
  <div class="meta">
    <div class="file developer"><%= h specification.file %>:<%= specification.line %></div>
    <div style="clear: right;"></div>
  </div>
  <!-- <div><%= specification.source %></div> -->
</div>