<% if contexts %>
<div class="method_details_list">
<div class="tags">
  <h3>Specifications:</h3>
   <% contexts.each do |context| %>
     <% log.info "Displaying the Context Info #{options}" %>
     <% old_object = options[:object] 
     options[:object] = context
     
     
     %>
     <% T('context') %>
     <% options[:object] = old_object %>
   <% end %>
</div>
</div>
<% end %>